/* System Fonts */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* CSS Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}

main {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select {
    text-transform: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Typographic Scale */
html {
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

h1.title {
    font-size: 1.25rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}